psycopg2-binary
pandas
sqlalchemy
xlrd
#pymssql
pymysql
#mysql-connector
openpyxl
xlsxwriter
requests
BeautifulSoup4
inflection
reflection
lorem
RandomWords
nose_parameterized
statistics
pyyaml
#boto3